<?xml version="1.0" encoding="utf-8"?>
<GameSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <WindowTitle>HYPERLINK</WindowTitle>
  <WindowWidth>800</WindowWidth>
  <WindowHeight>600</WindowHeight>
  <ContainerBorderColor>
    <B>0</B>
    <G>0</G>
    <R>255</R>
    <A>255</A>
  </ContainerBorderColor>
  <ContainerFillColor>
    <B>128</B>
    <G>0</G>
    <R>0</R>
    <A>255</A>
  </ContainerFillColor>
  <Taskbar>
    <B>255</B>
    <G>144</G>
    <R>30</R>
    <A>255</A>
  </Taskbar>
  <WidgetBorderColor>
    <B>255</B>
    <G>248</G>
    <R>248</R>
    <A>255</A>
  </WidgetBorderColor>
  <WidgetFillColor>
    <B>144</B>
    <G>128</G>
    <R>112</R>
    <A>255</A>
  </WidgetFillColor>
  <TextFillColor>
    <B>255</B>
    <G>255</G>
    <R>255</R>
    <A>255</A>
  </TextFillColor>
  <PrimarySpriteFontPath>Fonts/primary</PrimarySpriteFontPath>
  <SecondarySpriteFontPath>Fonts/secondary</SecondarySpriteFontPath>
  <LargeButtonTexturePath>Textures/Button/btn_large</LargeButtonTexturePath>
  <CloseButtonTexturePath>Textures/Button/btn_close</CloseButtonTexturePath>
  <InactiveWindowTexturePath>Textures/Window/inactive</InactiveWindowTexturePath>
</GameSettings>